/* This sets the configurations for the weather dashboard at the top of the page. */
.titantron {
  background-color: rgb(156, 73, 131);
  text-align: center;
  box-shadow: 0 2px 8px 0 black;
}
/* I set the configurations for the body by default */
body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  background-image: url("../img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120em 80em;   
}
/* This is the font size for the weather dashboard titantron. */
h3{
  line-height: 2;
  font-weight: bold;
}
/* This is the border for the current weather in the city and the rest of the weather stats for current day. */
.trimmer {
  margin-top: 15px;
  border-style: solid;
  box-shadow: 0 2px 8px 0 black;
  border: 1px solid black;
  background-color:rgb(156, 73, 131);
  border-radius: 15px;
}
/* This is the weather card configurations for each day in the 5-day forecast. */
.weather-card {
  box-shadow: 0 2px 8px 0 black;
  padding: 3px;
  text-align: center;
  background-color: rgb(156, 73, 131);
  color: black;
  font-size: 0.8em;
  width: 135px;
  margin-left: 1rem;
  border-style: solid;
  border: 1px solid black;
  border-radius: 15px;
}
/* This is the search-button ID configurations. */
#button-search {
  background-color: rgb(156, 73, 131);
  border-style: none;
}
/* This is the clear-data button ID configurations */
#clear-data {
  background-color: rgb(156, 73, 131);
  border-style: none;
}
/* This is the configurations for when the user hovers over a previously searched city */
li:hover{
  background-color: rgb(156, 73, 131);
  text-decoration: underline;
}
/* These are all the color coding classes used for the UV Index in the current weather stats. */
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orangered;
}
.red {
  background-color: red;
}